.title {
    font-size: 24px;
    font-weight: bolder;
    color: steelblue;
}

.main {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.motivate {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: slateblue;
}